body, html{
    margin: 25px;
    padding: 25px;
    color: rgb(192, 94, 111);
    background-color: pink;
}
.INZa{
    color: rgb(255, 0, 0);
}
#INNZa{
    color: rgb(38, 38, 126);
    padding: 25px;
    margin: 50px;
}
.OO{
    background-color: black;
    padding: 75px;
    margin: 50px;
}
.box{
    width: 15px;
    height: 40px;
    padding: 50px;
    border: solid black;
}